/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/* post */

.post-container {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.post {
  width: 250px;
  height: 250px;
  padding: 4px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  cursor: pointer;
}