<div>
  <form name="postForm" novalidate>
    <label for="title">Título:</label>
    <input id="title" type="text" ng-model="post.title" required>
    
    <br>
    <label for="body">Corpo:</label>
    <textarea id="body" cols="30" rows="10" ng-model="post.body" required></textarea>
    
    <br>
    <label for="userId">Usuário:</label>
    <select id="userId" ng-model="post.userId" required>
      <option ng-repeat="user in users" ng-value="user.id">{{user.name}}</option>
    </select>
    
    <br>
    <button ng-disabled="!postForm.$valid" ng-click="savePost()">
      Salvar
    </button>
  </form>
</div>